[data-carousel] {
    display: none;
}


.carousel {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  
    & > a {
        height: 32px;
        aspect-ratio: 1;
        border-radius: 2px;

        & > img {
            max-height: 100%;
            max-width: 100%;

        }
        &:is(:focus, :active) {
            outline: solid black 2px;
        }
    }
  
    & > .imgs {
        // margin-block: 55px;
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        // column-gap: 80px;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        isolation: isolate;
  
        & .active {
            // scale: 1.5;
            z-index: 2;
        }
        & :not(.active) {
            z-index: 1;
        }
  
        & .left {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            // box-shadow-right: none;
        }
  
        & .right {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            // box-shadow-left: none;
        }
        & :not(.left, .active, .right) {
            display: none;
        }

        & img {
            --bg-color: var(--orig-bg-color);
            max-width: 100%;
            --shadow-size: 25px;
            --shadow-color: var(--orig-bg-color);  
            box-shadow: var(--shadow-color, var(--orig-bg-color)) 0px 0px var(--shadow-size);
            transition: 250ms ease-in-out;
            border-radius: 25px;
            cursor: pointer;
  
            &:hover {
                border-radius: 10px;
            }
        }
    }
  
    * {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
}  