[data-carousel] {
    display: none;
}


.carousel {
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  
    & > a {
        height: 32px;
        aspect-ratio: 1;

        border-radius: 2px;

        & > img {
            max-height: 100%;
            max-width: 100%;

        }
        &:is(:focus, :active) {
            outline: solid black 2px;
        }
    }
  
    & > .imgs {
        flex: 1;

        margin: 0;
        // margin-block: 55px;
        padding: 0;

        height: fit-content;

        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        // column-gap: 80px;
        align-items: center;

        list-style: none;

        isolation: isolate;
  
        & .active {
            z-index: 2;
        }
        & :not(.active) {
            z-index: 1;
        }
  
        & .left {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;

            // box-shadow-right: none;
        }
  
        & .right {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;

            // box-shadow-left: none;
        }
        & :not(.left, .active, .right) {
            display: none;
        }

        & img {
            --time: 250ms;
            --shadow-size: 25px;
            --shadow-color: var(--orig-bg-color);  

            background-color: var(--orig-bg-color);

            max-width: 100%;

            border-radius: 25px;

            box-shadow: var(--shadow-color, var(--orig-bg-color)) 0px 0px var(--shadow-size);

            cursor: pointer;
  
            &.hover-in {
                transition: var(--time) ease-in;

                &.hover {
                    border-radius: 10px;

                    transition: var(--time) ease-out;
                }
            }
        }
    }
  
    * {
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}  