footer {
    background-color: white;
    color: black;
    
    position: sticky;
  
    width: 100%;
    height: 50px;
  
    box-shadow: 0px 0px 10px 0px white;
  
    & > span {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        *, & {
            line-height: 1;
        }
    }
}
  