a#go2content[href="javascript:scrollToNum()"] {
  position: absolute;
  top: 0;
  left: 0;

  padding: 8px;

  color: white;
  opacity: 0;

  z-index: -999;
  
  &:focus {
    opacity: 1;
    z-index: 999;
  }
}
  
.header {
  --padding: 1rem /* 16px */;

  background-color: var(--orig-bg-color);
  color: white;

  margin: 0;

  width: 100%;

  display: flex;
  align-items: center;
  gap: var(--padding);
  
  border-bottom: solid 1px white;

  z-index: 2;

  &.noBorder {
    border: none;
    box-shadow: 0px 0px 10px 0px var(--orig-bg-color);
  }

  & > :first-child {
    padding-left: var(--padding);
  }
  
  & > :last-child {
    padding-right: var(--padding);
  }
  
  .logo-parent {
    padding: var(--padding) 0 var(--padding) var(--padding);

    max-width: 125px;
    height: calc(100% - calc(var(--padding)*2));

    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      --shadow-color: black;

      height: 125px;

      border-radius: 100%;

      box-shadow: var(--main-shadow);

      transition: 0.25s ease-in-out;

      &:hover {
        border-radius: 37.5px;
      }
    }
  }
  
  & h2 {
  /*  margin: 0;  */

    color: black;
  }
  .nav {
    flex: 1;

    padding: var(--padding) 0;

    height: calc(100% - calc(var(--padding)*2));

    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > .nav-btns {
      & .nav-btns__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--padding);
      }
    }
  }
  
  .social {
    padding: var(--padding) var(--padding) var(--padding) 0;

    display: flex;
    flex-direction: row;
    gap: var(--padding);

    & > a {
      width: 25px;
      aspect-ratio: 1;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      /* background-color: white; */
      color: black;

      border-radius: 5px;

      display: block;

      &#instagram {
        border-radius: 8px;
        background-image: url('/assets/icons/instagram.svg');
      }
      
      &#email {
        background-image: url('/assets/icons/email.svg');
      }
    }
  }
}

@media (width > 625px) {
  .header {
    .nav-hbg {
      display: none;
    }
    .nav {
      #closeNav {
        display: none;
      }
  
      .nav-info {
        display: none;
      }
    }
  }
}

@media (width <= 625px) {
  .header {
    .nav-hbg {
      display: block;

      width: 25px;
      aspect-ratio: 1;

      background-color: white;

      border-radius: 5px;

      outline: solid 1px black;

      cursor: pointer;
      
      overflow: hidden;
      
      & img {
        width: 100%;
        aspect-ratio: 1;
      }
    }
    
    .nav {
      overflow-x: hidden;

      & > .nav-btns {
        z-index: 999;

        position: fixed;
        inset: 0;

        height: 100dvh;

        background-color: rgba(0, 0, 0, 0.25);

        display: none;

        & .nav-btns__inner {
          position: absolute;
          top: 0;
          right: 0;

          height: 100%;
      
          box-sizing: border-box;
          padding: var(--padding) var(--padding);
  
          background-color: var(--orig-bg-color);

          display: grid;
          grid-template-columns: 0fr;
          grid-template-rows: auto;
          grid-auto-flow: row;

          justify-content: flex-start;
          align-content: start;
          gap: var(--padding);

          overflow-x: hidden;
  
          box-shadow: 0px 0px 10px 0px var(--orig-bg-color);

          transition: grid-template-columns 2.5s ease;
        }

        .nav-info {
          display: flex;
          justify-content: right;
          align-items: center;
          gap: var(--padding);

          & > :first-child {
            margin-block: 0;
          }

          .mob-nav-clse {
            display: block;

            width: 25px;
            aspect-ratio: 1;

            background-color: white;

            border-radius: 5px;

            outline: solid 1px black;

            cursor: pointer;

            overflow: hidden;

            & img {
              width: 100%;
              aspect-ratio: 1;
            }
          }
        }
      }
    }
    #closeNav:checked + .nav-btns {
      display: block;
    }
  }
}

