#infobox {
    --b-r: 25px;
    --width: calc(300px - 4px);
    
    position: fixed;
    top: calc(100% - var(--h, 0) - var(--b-r));
    left: calc(100% - var(--w, 0) - var(--b-r));
    
    margin: 0;
  
    width: var(--width);
    aspect-ratio: 2 / 1;
  
    background-color: white;

    border-color: var(--orig-bg-color);
    border-radius: 5px;

    opacity: 0;

    box-shadow: var(--main-shadow);

    transition: opacity var(--transition-time, 500ms) ease;
  
    &[open] {
        display: inline-flex;
    }
}

.infobox-inner {
    width: 100%;
    height: 100%;
}

.cSpan {
    position: absolute;
    top: 12.5px;
    right: 12.5px;
/*  margin: 12.5px;  */
    width: 25px !important;
    aspect-ratio: 1;
    cursor: pointer;
}