.img-parent {
    overflow: hidden;
    width: fit-content;
    height: fit-content;

    > input[type="checkbox"] {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    > img {
        max-width: 100%;
        max-height: 100%;
    }
}