html:has(.img-parent > input[type="checkbox"]:checked) {
    overflow: clip;
}

.img-parent {
    overflow: hidden;
    // display: grid;

    &:has(> input[type="checkbox"]:checked) {
        inset: 0;
        &::before, > img {
            position: fixed;
        }
        &::before {
            content: '';
            inset: 0;
            background-color: var(--bg-color);
            // opacity: 0.9;
        }

        > img {
            --val: 1rem;
            inset: var(--val);

            max-height: calc(100dvh - val*2);
            max-width: calc(100dvw - val*2);
            // background-image: var(--bg);
            // background-repeat: no-repeat;
            // background-size: cover;
            // background-position: center;

            border-radius: inherit;
            box-shadow: inherit;
        }
    }

    > input[type="checkbox"] {
        visibility: hidden;
        width: 0;
        height: 0;
        margin: 0;
        border: 0;
        padding: 0;

    }
    > img {
        max-width: 100%;
        max-height: 100%;
        pointer-events: none;
    }
}