---
import '../../styles/globals.scss'
import Layout from '../../layouts/Layout.astro'
---
<Layout title="Enroll | Website Beta">
  <main id="content" class="enroll__beta">
    <h1 style="width: fit-content;">Website Features Beta Program</h1>
    <button id="button">Enroll</button>
  </main>
  <script>
    var lStorName = 'isBeta'
    if (!!localStorage.getItem(lStorName)) {
      button.textContent = 'UnEnroll'
    }
    button.addEventListener('click', function() {
      if (!!localStorage.getItem(lStorName) === false) {
        localStorage.setItem(lStorName, true)
        alert(`Enrolled you in the beta program.`)
      }
      if (!!localStorage.getItem(lStorName)) {
        localStorage.removeItem(lStorName)
        alert(`UnEnrolled you from the beta program.`)
      }
    })
  </script>
</Layout>