# example netlify.toml
[build]
  command = "astro build"
  functions = "netlify/functions"
  publish = "dist"


  [plugins.inputs.postBuild]
    enable = true
  
  [plugins.inputs]
    enable = false
