---
import Layout from '../../layouts/Layout.astro'
import leftMembers from './leftMembers.js'

var userData = {
  username: 'rien', 
  name: 'Rien Gupta', 
  date: 'the start of the 23-24 school year', 
  graduated: false, 
}

userData = leftMembers(userData)

import '../../styles/pages/members.scss'
---
<Layout title={userData.name}>
  <main id="content" class="profile">
    <section>
      <h1 id="name">{userData.name}</h1>
      <p id="bio" set:html={userData.bio}></p>
    </section>
  </main>
</Layout>