---
import Layout from '../../layouts/Layout.astro'
import leftMembers from './leftMembers.js'

var userData = {
  username: 'sam', 
  name: 'Sam Cheng', 
  date: 'the start of 2023', 
  graduated: false;
}

userData = leftMembers(userData)

import '../../styles/pages/members.scss'
---
<Layout title={userData.name}>
  <section id="content"></section>
  <main id="profile" class="profile">
    <section>
      <h1 id="name">{userData.name}</h1>
      <p id="bio" set:html={userData.bio.result}></p>
    </section>
  </main>
  <script is:inline>
    var hasAddedMemberInfo = true
  </script>
</Layout>