.frame-page {
    box-sizing: border-box;
    padding: 2rem;

    display: grid;
    place-items: center;
}

.frame {
    max-height: 100%;
    width: auto;
    aspect-ratio: 16 / 9;

    border: solid 1px white;
    border-radius: 5rem;
}