.frame-page {
    box-sizing: border-box;
    padding: 2rem;

    display: grid;
    place-items: center;
}

.frame {
    box-sizing: border-box;

    max-height: 100%;
    width: auto;
    aspect-ratio: 16 / 9;

    border: solid 2px white;
    border-radius: 2rem;
}