section#mission {
  & > section > div:not([hHr]):not(div.carousel) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding);
  }
  
  .missiontext  {
    margin: 0;
    padding: 0;

    max-width: 100%;
    /*  min-width: 500px;  */
    
    text-align: center;
  }
}