:is(.header, .footer):has(~ .tree) {
    display: none;
}

.link {
    position: absolute;
    left: 0;
    top: 0;
    
    padding: 0;
    margin: 0;
    
    width: 100%;
    height: 100%;

    border: none; 
}