main.profile {
    --pfp-size: 128px;
    flex: 1;
    width: 100%; 

    display: flex;
    align-items: center;
    flex-direction: column;

    
    & > section {
        margin: 25px;
        padding: 25px;

        max-width: 500px;

        background-color: white;
        color: black;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12.5px;

        & h2 {
            margin-block: 0;
        }
    }

    .pfp[src] {
        max-width: var(--pfp-size);
        max-height: var(--pfp-size);
        width: 100%;
        aspect-ratio: 1;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        border: none;
        border-radius: 100%;
        outline: none;

        transition: 500ms ease-in-out;
        cursor: pointer;

        &:hover {
            border-radius: 25%;
            transition: 500ms ease-in-out;
        }
    }

    a {
        margin: 0;
        text-decoration: none;

        &:is(.email, .location) {
            color: black;
            line-height: 1;

            transition: all 100ms ease;
            &:is(:hover, :focus) {
                color: blue;
                &:visited {
                    color: purple;
                }
            }
        }

        &.location {
            min-height: 16px;
            min-width: 16px;

            & > div {
                translate: 0 0.5px;
                
                height: 16px;
                width: 16px;
                display: inline-block;
                aspect-ratio: 1;
            
                background-image: url('/assets/icons/location.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
    
            &:hover > div {
                background-image: url('/assets/icons/location-blue.svg');
            }

            & > span {
                position: relative;
                top: -3px;

                line-height: 1;
            }
        }
    }

    .name {
        margin: 0;

        font-size: 1.75rem;
        text-align: center;
    }
    .bio {
        margin: 0;
        max-width: 500px;

        text-align: center;
    }
}
  
ul.socials {
    margin: 0;
    padding-left: 0;
    
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    list-style: none;
  
    & > li {
        height: 25px;
        aspect-ratio: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    
        & > a {
            height: 100%;
            width: 100%;
        
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            display: flex;

            cursor: pointer;
    
            & > img {
                margin: auto 0 auto 0;

                width: 25px;
                height: auto;
        
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }
    }
}