main#portal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
  
    & > #menu {
        --bg-color: white;
        --text-color: black;
    
        width: auto;
        max-width: 100%;
        height: auto;
        
        margin: 25px;
        padding: var(--padding) 25px 25px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}  

.template {
    --bg-color: white;
    --text-color: black;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
  
    * {
        --bg-color: white;
        --text-color: black;
    }
}
  
  
#emailtemplatetext {
    text-align: center;
    border-radius: 10px !important;
    margin: 10px;
    --bg-color: white;
    --text-color: black;
}
#emailtemplatetext > * {
    text-align: center;
    --bg-color: white !important;
    --text-color: black;
}