// .projects {
//     & > section {
//         & > section {
//             & > div {
//                 text-align: center;
//             }
//         }
//     }
// }

.projects > section > section > div {
    text-align: center;
}