---
import Hero from '../hero.astro'

var HTML = `
<section class="hero" id="content" style="min-height: 100px !important; display: flex; align-items: center;">
    <h1>Member Portal</h1>
</section>
<main id="portal"></main>`

var encoded = btoa(HTML)
---
{encoded}