---
import Hero from '../hero.astro'

var HTML = `
<style>
    .hero {
        padding: 0 10vw;

        height: 100%;
        width: calc(100% - 20vw);

        display: flex;
        justify-content: center;
        flex-direction: column;

        --bg-color: #6c78e5;
        background-image: url('/assets/header.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: white;
    
        & h1:not(#menu > h1):not(#whymakethisclub), & h2, & h3 {
            --shadow-color: #0a0a52;
            --shadow-size: 10px;
            text-shadow: var(--shadow-color, var(--orig-bg-color)) 0px 0px var(--shadow-size);
        }
    
        & h1:not(#menu > h1):not(#whymakethisclub) {
            margin: 0;
            text-transform: uppercase;
            font-weight: 400;
            font-size: 4.5rem;
            max-width: 12.89ch;
        }
        & h2 {
            margin: 0;
            font-weight: 400;
            font-size: 2.4rem;
            max-width: 30.39ch;
        }
        & h3 {
            margin: 0;
            font-weight: 400;
            font-size: 1.2rem;
            max-width: 56.59ch;
        }
    }
</style>
<main id="portal">
    <section class="hero" id="portal" style="min-height: 100px !important; display: flex; align-items: center;">
        <ul id="menu">
            <h1>Member Portal</h1>
        </ul>
    </section>
</main>`

var encoded = btoa(HTML)
---
{encoded}