a#go2content[href="javascript:scrollToNum()"] {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  opacity: 0;
  z-index: -999;
  
  &:focus {
    opacity: 100;
    z-index: 999;
  }
}
  
.header {
  --bg-color: var(--orig-bg-color);
  color: white;
  --padding: 1rem /* 16px */;

  margin: 0;

  width: 100%;

  display: flex;
  align-items: center;
  gap: var(--padding);
  /* flex-basis: 150px; */
  

  box-shadow: 0px 0px 10px 0px var(--orig-bg-color);

  z-index: 2;

  & > :first-child {
    padding-left: var(--padding);
  }
  
  & > :last-child {
    padding-right: var(--padding);
  }
  
  .logo-parent {
    padding: var(--padding) 0 var(--padding) var(--padding);
    max-width: 125px;
    height: calc(100% - calc(var(--padding)*2));
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      --shadow-color: black;

      height: 125px;
      border-radius: 100%;
      transition: 0.25s ease-in-out;
      box-shadow: var(--main-shadow);

      &:hover {
        border-radius: 37.5px;
      }
    }
  }
  
  & h2 {
  /*  margin: 0;  */
    color: black;
  }
  .nav {
    height: calc(100% - calc(var(--padding)*2));
    flex: 1;
    padding: var(--padding) 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: var(--padding);

      &.ready {
        transition: translate 1s ease;
      }

      .nav-info {
        display: none;
      }
    }
    .nav-hbg {
      display: none;
    }
  }
  
  .social {
    padding: var(--padding) var(--padding) var(--padding) 0;
    display: flex;
    flex-direction: row;
    gap: var(--padding);

    & > a {
      width: 25px;
      aspect-ratio: 1;
      display: flex;
      border-radius: 5px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      /* --bg-color: white; */
      color: black;

      &#instagram {
        border-radius: 8px;
        background-image: url('/assets/icons/instagram.svg');
      }
      
      &#email {
        background-image: url('/assets/icons/email.svg');
      }
    }
  }
}

@media (width < 624px) {
  .header {
    .nav-hbg {
      --bg-color: white;
      outline: solid 1px black;
      border-radius: 5px;
      
      display: block;
      width: 25px;
      aspect-ratio: 1;
      cursor: pointer;
    }
    
    .nav {
      overflow-x: hidden;

      & > div {
        z-index: -1;
        position: fixed;
        height: 100dvh;
        top: 0;
        right: 0;
    
        padding: calc(159px + 89px + var(--padding)*2) var(--padding) var(--padding);

        display: grid;
        grid-template-columns: 0fr;
        grid-template-rows: auto;

        transition: grid-template-columns 2.5s ease;
    
        box-shadow: 0px 0px 10px 0px var(--orig-bg-color);

        .nav-info {
          display: flex;
          justify-content: right;
          align-items: center;
          gap: var(--padding);

          & > :first-child {
            margin-block: 0;
          }

          .mob-nav-clse {
            --bg-color: white;
            outline: solid 1px black;
            border-radius: 5px;
    
            display: block;
            width: 25px;
            aspect-ratio: 1;
            cursor: pointer;
          }
        }
      }
    }
    #closeNav:checked + .nav-items {
      grid-template-columns: 1fr;
    }
  }
}

