section.photos {
    flex: 1;
    width: 100%;

    & > section {
        --bg-color: white;
        color: black;

        width: 750px;
        max-width: 100%;
        height: auto;

        margin: 25px;
        padding: 25px;
        
        gap: 25px;
    }

    & h1 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 200;
        font-size: 3rem;
    }
}

@media (width < 750px) {
    section.photos {
        & > section {
            width: calc(100% - 100px) !important;
        }
    }
}

ul:is(#photos, .photos) {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 25px;

    & > li {
        height: auto;

        &:nth-child(3n-1) {
            grid-column: span 2;
        }
        
        & img {
            width: 100%;
            border-radius: 15px;
            transition: 500ms ease-in-out;
            cursor: pointer;
  
            &:hover {
                border-radius: 10px;
                transition: 500ms ease-in-out;
            }
        }
  
        & > img:not(& > div > img) {
            max-width: 100%;
            height: auto;
            border-radius: 15px;
            transition: 500ms ease-in-out;
            margin: auto 0;
  
            &:hover {
                border-radius: 10px;
                transition: 500ms ease-in-out;
            }
        }
    }
}  
  