@import './variables.scss';

@mixin animations {
    animation-timeline: view();
}
  
@mixin scaleAnimations {
    animation: scale linear both;
    animation-range: entry var(--fade-animation-value) cover var(--fade-animation-value);
}

@mixin splitAnimations {
    animation: split linear both;
    animation-range: cover calc(var(--split-animation-value)/1.5) contain calc(var(--split-animation-value)*2);
}
  

main:not(.profile) > * {
    &:not(:has( > section)) {
        @include scaleAnimations;
        @include animations;
    }
    &:has( > section) {
        overflow-x: clip;
        > *:not(.vHr, .hHr) {
            --dir: 0;
            @include splitAnimations;
            @include animations;
            &:first-of-type {
                --dir: -1;
            }
            &:last-of-type {
                --dir:  1;
            }
        }
        .hHr:not(:has( ~ .split)) {
            @include scaleAnimations;
            @include animations;
        }
    }
}

.vHr, .hHr {
    @include animations;
}

@keyframes scale {
    from {
        scale: 0.95;
    }
    to {
        scale: 1;
    }
}

@keyframes split {
    from {
        translate: calc(var(--dir)*(100% + 50px)) 0;//-100%;
    }
    to {
        translate: 0 0;
    }
}