main > section {
    &:is(:not(:has( > section)), > section) {
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}