@import './variables.scss';

@mixin animations {
    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry var(--scroll-animation-value) cover var(--scroll-animation-value);
}
  

main:not(.profile) > * {
    &:not(:has( > section)) {
        @include animations;
    }
    &:has( > section) {
        &:not(.split) > *:not(.hHr) {
            @include animations;
        }
        .hHr:not(:has( ~ .split)) {
            @include animations;
        }
        &.split > *:not(.vHr) {
            @include animations;
        }

    }
}

.vHr, .hHr {
    @include animations;
}

@keyframes fade {
    from {
        scale: 0.95;
    }
    to {
        scale: 1;
    }
}