@import './variables.scss';

@mixin animations {
    animation: fade linear both;
    animation-timeline: scroll();
    animation-range: entry var(--scroll-animation-value) cover var(--scroll-animation-value);
}
  

main > * {
    &:not(:has( > section)) {
        @include animations;
    }
    & > * {
        @include animations;
    }
}

.vHr, .hHr {
    @include animations;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}