// scroll animation
$fade-animation-value: 25%;
$split-animation-value: 50%;

// site
$orig-bg-color: #1a4276;
$bg-color: var(--orig-bg-color) ;

$scroll-bar-width: 10px;

$shadow-color: black;
$shadow-size: 10px;
$main-shadow: var(--shadow-color, var(--orig-bg-color)) 0 0 var(--shadow-size);

$tiny-split-image-parent-min-height: 0px;

:root {
    --fade-animation-value: #{$fade-animation-value};
    --split-animation-value: #{$split-animation-value};

    --orig-bg-color: #{$orig-bg-color};
    background-color: var(--orig-bg-color);
  
    --scroll-bar-width: #{$scroll-bar-width};
  
    --shadow-color: #{$shadow-color};
    --shadow-size: #{$shadow-size};
    --main-shadow: #{$main-shadow};

    --tiny-split-image-parent-min-height: #{$tiny-split-image-parent-min-height};
}