body {
  height: 100%;
  display: block;
}
  
iframe {
  z-index: 1;
  border: none;
  height: 100%;
  width: 100%;
}

.welcome, .welcome-bg, iframe {
  position: absolute;
  top: 0;
  left: 0;
}
  
.welcome-bg {
  z-index: 2;
  background-color: white;
  opacity: 50%;
  height: 100%;
  width: 100%;
}
.welcome {
  z-index: 3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
  
.welcome > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  box-shadow: 0px 0px 50px 50px var(--orig-bg-color);
  border-radius: 25px;
  padding: 25px;
  opacity: 200%;
  background-color: var(--orig-bg-color);
  color: white;
  max-width: 750px;
  max-height: 750px;
}
  
.welcome section[top] > h1 {
  font-weight: 400;
  text-align: center;
}
  
.welcome section[middle] {
  justify-content: left;
  align-items: center;
  gap: 25px;
  flex-direction: column;
  flex: 1;
}
  
.welcome section[middle] > .whymakethisclub {
  font-weight: 300;
  text-align: center;
}
  
.welcome section[bottom] {
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}