---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'
import '../styles/pages/error.scss'

var error = {
  code: 404, 
  name: 'Not Found', 
  desc: `
    <h2>Unfortunatly our website does not have the page that you were looking for.</h1><h3>Either we never created this page to begin with or we have deleted it.</h3><h3>Contact <a href="/members/adarsh">The Webmaster</a> to learn more!</h2>
  `, 
}

var redirects = [
  {
    slug: '/sign-up', 
    dest: 'https://go.graphics-for-good.com/Sign-Up', 
  }, 
  {
    slug: '/status', 
    dest: 'https://go.graphics-for-good.com/Status', 
  }
]

Astro.response.status = error.code;
Astro.response.statusText = error.name;
---
<Layout title="404">
  <main id="content">
    <Hero classItems="error">
      <section>
        <div>
          <h1>{error.code} {error.name}</h1>
          <div set:html={error.desc} />
        </div>
      </section>
    </Hero>
  </main>
  <script>
    var redirectObj = {redirects}
    redirectObj.forEach(function(redirect, i) {
      if (location.pathname === redirect.slug) {
        location.href = redirect.dest
      }
    })
  </script>
</Layout>