---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'
import '../styles/pages/error.scss'

var error = {
  code: 404, 
  name: 'Not Found', 
  desc: `
    <h2>Unfortunatly our website doen not have the page that you were looking for.</h1><h3>Either we never created this page to begin with or we have deleted it.</h3><h3>Contact <a href="/members/adarsh">The Webmaster</a> to learn more!</h2>
  `, 
}

var path = Astro.request.url
var redirects = [
  {
    slug: '/sign-up', 
    dest: 'https://go.graphics-for-good.com/Sign-Up', 
  }, 
  {
    slug: '/status', 
    dest: 'https://go.graphics-for-good.com/Status', 
  }
]

redirects.forEach(function(redirect, i) {
  if (path === redirect.slug) {
    Astro.redirect(redirect.dest)
  }
})

---
<Layout title="404">
  <main id="content">
    <Hero classItems="error">
      <section>
        <div>
          <h1>{error.code} {error.name}</h1>
          <div set:html={error.desc} />
          {path}
        </div>
      </section>
    </Hero>
  </main>
</Layout>