---
import Layout from '../components/Layout.astro';
---

<Layout title="Astro Quickstart">
	<main>
      <div class="header">
        <h1>Quickstart Template</h1>
        <div class="logo">
          <img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1652291187/astro_1_c1yk5a.png" alt="Netlify plus Astro banner">
        </div>
        <div class="bttns">
          <a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-quickstart" class="bttn primary">Deploy to Netlify</a>
          <a href="https://github.com/netlify-templates/astro-quickstart" class="bttn secondary">View Repo</a>
        </div>
      </div>
			<div class="resource-list">
        <h2>
          This is a bare-bones Astro project that has everything you need to quickly deploy it to Netlify
        </h2>
        <ul>
          <li>
            <a href="https://ntl.fyi/38O9wmY">Netlify Blog: Astro posts</a>
					</li>
          <li>
            <a href="https://ntl.fyi/3KHGtyz">Netlify Docs</a>
          </li>
          <li>
            <a href="https://docs.astro.build/en/getting-started/">Astro Docs</a>
          </li>
        </ul>
      </div>
      <footer class="footer">
        Made with <a href="https://ntl.fyi/3P0dwBi"><img src="https://res.cloudinary.com/dzkoxrsdj/image/upload/v1646714899/netliheart_ezlkim.svg" alt="Netlify Logo" /></a> for you!
      </footer>
	</main>
</Layout>