---
const members = [
  'Shikha Iyer <span id="tag">(President and Founder)</span>', 
  'Sayuri Rodrigo <span id="tag">(Vice-President)</span>', 
  'Adarsh Kumar <span id="tag">(Website Manager)</span>', 
  'Isabelle Anderson <span id="tag">(Website Assistant)</span>', 
  'Amelia Chang', 
  'Luce Dittrich', 
  'Cedrus Fink', 
  // 'Rien (Rick) Gupta', 
  // 'Maya Heiss', 
  'Jeremy Hasan', 
  'Beatriz Meneses', 
  'Chloe Mercado', 
  'Esha Mittal', 
  'Robin Solis-Rodriguez', 
  'Hanlin Su', 
  'Mia Tucker', 
  'Samantha Wolff', 
  'Bridget Won', 
  // 'Isaac Wood', 
]


import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'

import '../styles/pages/members.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
  <main id="content">
    <Hero classItems="fullHeight">
      <ul id="menu">
        <h1>Club Members</h1>
        {members.map((member) => ( <a href={`/members/${member.split(' ')[0].toLowerCase()}`}><li set:html={member}></li></a> ))}
      </ul>
    </section>
  </main>
  <script is:inline src="/members.js"></script>
</Layout>