---
const members = [
  'Shikha Iyer', 
  'Sayuri Rodrigo', 
  'Adarsh Kumar <span id="tag">(Website Manager/Designer)</span>', 
  'Isabelle Anderson', 
  'Hanlin Su', 
  'Rien Gupta', 
  'Samantha Wolff', 
  'Chloe Mercado', 
]


import Layout from '../layouts/Layout.astro'

import '../styles/pages/members.scss'
import '../styles/hero.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
  <section class="hero fullHeight" id="content">
    <ul id="menu">
      <h1>Club Members</h1>
      {members.map((member) => ( <a href={`/members/${member.split(' ')[0].toLowerCase()}`}><li set:html={member}></li></a> ))}
    </ul>
  </section>
  <script is:inline>
    var createdMainMembersPageContent = true
  </script>
  <script is:inline src="/members.js"></script>
  <script is:inline src="/modal.js"></script>
</Layout>