---
const members = [
  'Shikha Iyer <span id="tag">(Club President)</span>', 
  'Sayuri Rodrigo <span id="tag">(Club Vice-President)</span>', 
  'Adarsh Kumar <span id="tag">(Website Manager/Designer)</span>', 
  'Isabelle Anderson <span id="tag">(Website Designer)</span>', 
  'Amelia Chang', 
  'Luce Dittrich', 
  'Rien (Rick) Gupta', 
  'Maya Heiss', 
  'Chloe Mercado', 
  'Hanlin Su', 
  'Mia Tucker', 
  'Samantha Wolff', 
  'Bridget Won', 
  // 'Isaac Wood', 
]


import Layout from '../layouts/Layout.astro'
import Hero from '../conponents/Hero.astro'

import '../styles/pages/members.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
  <main id="content">
    <Hero classItems="fullHeight">
      <ul id="menu">
        <h1>Club Members</h1>
        {members.map((member) => ( <a href={`/members/${member.split(' ')[0].toLowerCase()}`}><li set:html={member}></li></a> ))}
      </ul>
    </section>
  </main>
  <script is:inline src="/members.js"></script>
  <script is:inline src="/modal.js"></script>
</Layout>