---
import usernames from '../../members/usernames.js'

// usernames.forEach(u => {
//     import data from 
// })

var members = await Astro.glob('../../members/*/*.js')
console.log(members[0])

import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'

import '../styles/pages/members.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
    <main id="content">
        <Hero classItems="fullHeight">
            <ul id="menu">
                <h1>Club Members</h1>
                {
                    members.map((member) => {
                        var username = member.username
                        var role = !!member.role ? member.role.name === 'Member' ? '' : member.role.name : ''

                        return (
                            <a href={
                                `/members/${username}/`
                            }>
                                <li>
                                    {member.name}
                                    {
                                        !!role ? <span id="tag">({role})</span> : ''
                                    }
                                </li>
                            </a>
                        )
                    })
                }
            </ul>
        </Hero>
    </main>
    <script is:inline src="/members.js"></script>
</Layout>