---
var members = []

await fetch(`https://database.graphics-for-good.com/getAllMembers`)
    .then(res => res.json())
    .then(json => members = JSON.parse(json).response)


import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'

import '../styles/pages/members.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
    <main id="content">
        <Hero classItems="fullHeight">
            <ul id="menu">
                <h1>Club Members</h1>
                {
                    members.map((member) => {
                        var username = member.username
                        return (
                            <a href={
                                `/members/${username}`
                            }>
                                <li>
                                    {member.name}
                                    {
                                        !!member.role ? 
                                            <span id="tag">({member.role})</span>
                                        : ''
                                    }
                                </li>
                            </a>
                        )
                    })
                }
            </ul>
        </Hero>
    </main>
    <script is:inline src="/members.js"></script>
</Layout>