---
const members = [
  {
    name: 'Shikha Iyer <span id="tag">(President and Founder)</span>', 
  }, 
  {
    name: 'Sayuri Rodrigo <span id="tag">(Vice-President)</span>', 
  }, 
  {
    name: 'Adarsh Kumar <span id="tag">(Website Manager)</span>', 
  }, 
  {
    name: 'Isabelle Anderson <span id="tag">(Website Assistant)</span>', 
  }, 
  {
    name: 'Amelia Chang', 
  }, 
  {
    name: 'Luce Dittrich', 
  }, 
  {
    name: 'Cedrus Fink', 
  }, 
  {
    name: // 'Rien (Rick) Gupta', 
  }, 
  {
    // name: 'Maya Heiss', 
  }, 
  {
    name: 'Jeremy Hasan', 
  }, 
  {
    name: 'Lorelai Hartman', 
  }, 
  {
    name: 'Beatriz Meneses', 
  }, 
  {
    name: 'Chloe Mercado', 
  }, 
  {
    name: 'Esha Mittal', 
  }, 
  {
    name: 'Robin Solis-Rodriguez', 
  }, 
  {
    name: 'Hanlin Su', 
  }, 
  {
    name: 'Mia Tucker', 
  }, 
  {
    name: 'Samantha Wolff', 
  }, 
  {
    name: 'Bridget Won', 
  }, 
  {
    // name: 'Isaac Wood', 
  }, 
]


import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'

import '../styles/pages/members.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
  <main id="content">
    <Hero classItems="fullHeight">
      <ul id="menu">
        <h1>Club Members</h1>
        {
          members.map((member) => {
            var username = member.name.split(' ')[0].toLowerCase()
            return (
              <a href={`/${!!member.versionPath ? member.versionPath : 'members'}/${username}`}>
                <li set:html={member.name}></li>
              </a>
            )
          })
        }
      </ul>
    </section>
  </main>
  <script is:inline src="/members.js"></script>
</Layout>