---
var allMembers = await Astro.glob('../../members/*/info.js')
var members = []

allMembers.map(m => {
    var member = m.default
    var role = !!member.role ? (!!member.role.name ? member.role.name : '') : ''

    if (role !== 'Member') members.push(m)
})
allMembers.map(m => {
    var member = m.default
    var role = !!member.role ? (!!member.role.name ? member.role.name : '') : ''

    if (role === 'Member') members.push(m)
})


import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'

import '../styles/pages/members.scss'
import '../styles/photos.scss'
---
<Layout title="Members">
    <main id="content">
        <Hero classItems="fullHeight">
            <ul id="menu">
                <h1>Club Members</h1>
                {
                    members.map((member) => {
                        member = member.default

                        if (!member.username.startsWith('_') && member.status === 'active') {
                            var username = member.username
                            var role = !!member.role ? member.role.name === 'Member' ? '' : member.role.name : ''

                            return (
                                <a href={
                                    `/members/${username}/`
                                }>
                                    <li>
                                        {member.name}
                                        {
                                            !!role ? <span id="tag">({role})</span> : ''
                                        }
                                    </li>
                                </a>
                            )
                        }
                    })
                }
            </ul>
        </Hero>
    </main>
    <script is:inline src="/members.js"></script>
</Layout>