<!DOCTYPE html>
<html lang="en" class="fullHeight">
  <head>
<metaTags />
    <meta property="title" content="Our Mission | Graphics for Good">
    <meta property="og:title" content="Our Mission | Graphics for Good">
    <title>Our Mission | Graphics for Good</title>
  </head>
  <body>
<nav />
    <!-- background="https://media.istockphoto.com/id/1205709428/photo/young-creative-business-people-meeting-at-office.jpg??c=xJEZB58Q2Sh0NZ2L8iK-U-JXYbs_kq5JC2XGdlWQ2Dw=" -->
    <header class="fullHeight">
      <section id="content">
        <div class="missiontext">
          <h1 id="whymakethisclub">Why make this club?</h1>
          <p class="text" centered>
            Our mission is to help create change in the world through design. We understand the importance of design in the non-profit sector, and we want to use our skills and resources to support organizations that are making a positive impact in our community and beyond. We strive to provide free design help for non-profits that support a wide range of causes, from environmental protection to healthcare, education and more.
          </p>
          <p class="text" centered>
            Our team of experienced designers are passionate about using their skills for good and are dedicated to working closely with non-profit organizations to create graphics and designs that accurately reflect their mission and message. We believe that by providing high-quality design at no cost, we can empower non-profits to more effectively communicate their message and achieve their goals, ultimately making a greater impact in the world.
          </p>
          <p class="text" centered>
            As Shikha Iyer, the club founder, said: "We strive to provide free design help for non-profits that support a wide range of causes." We invite non-profit organizations to reach out to us, we are ready to help you with all your design needs."
          </p>
        </div>
      </section>
    </header>
<globalScripts />
<infoBox />
  </body>
</html>