---
import Layout from '../layouts/Layout.astro'
import Split from '../components/split.astro'
import TinySplit from '../components/tinySplit.astro'
import Carousel from '../components/carousel.astro'

import '../styles/pages/projects.scss'
import '../styles/photos.scss'
---
<Layout title="Projects">
  <main id="content" class="projects">
    <Split>
      <section>
        <h1>Amphibian Foundation</h1>
        <TinySplit>
          <div>
            <p>Redesign the <a href="https://amphibianfoundation.org/index.php/pages">Why We Do It Page</a> on <a href="https://amphibianfoundation.org">Their Website</a>.</p>
          </div>
          <div class="img-parent">
            <img src="/assets/projects/amphibian-foundation.png" alt="The Amphibian Foundation Image" />
          </div>
        </TinySplit>
      </section>
      <span class="vHr"></span>
      <section>
        <h1>Treasure Chest Foundation</h1>
        <TinySplit>
          <div>
            <p>They'd like to update it a little to make it more “fresh,” though they like the current logo IDEA and the purple.</p>
          </div>
          <div class="img-parent">
            <img src="/assets/projects/treasurechest-foundation.png" alt="The Treasure Chest Foundation Image" />
          </div>
        </TinySplit>
      </section>
    </Split>
    <div hHr></div>
    <Split>
      <section>
        <h1>S.A.V.E Foundation</h1>
        <TinySplit>
          <div>
            <p>Chao from S.A.V.E Foundation wants us to create Instagram posts for #herstory. This is where S.A.V.E posts inspiring stories of strong and brave women.</p>
          </div>
          <div class="img-parent">
            <img src="/assets/projects/save-foundation.svg" alt="The Save Foundation Image" />
          </div>
        </TinySplit>
      </section>
      <span class="vHr"></span>
      <section>
        <h1>Vanni Aid</h1>
        <TinySplit>
          <div>
            <p>We are currently working with Anita from Vanni Aid to re-do their website! Adarsh and one other peoson are working on this.</p>
          </div>
          <div class="img-parent">
            <img src="/assets/projects/vanniaid-foundation.jpg" alt="The Vanni Aid Image" />
          </div>
        </TinySplit>
      </section>
    </Split>
    <div hHr></div>
    <Split>
      <span class="vHr"></span>
      <section>
        <h1>CORA</h1>
        <TinySplit>
          <div>
            <p>Create an informational flyer about CORA with a design targeted at middle school and high school students for their YEA! (Youth Education Advocacy) program. </p>
          </div>
          <div class="img-parent">
            <img src="/assets/projects/cora-foundation.png" alt="The CORA Image" />
          </div>
        </TinySplit>
      </section>
      <span class="vHr"></span>
      <!-- <section>
        <h1>Project Title</h1>
        <TinySplit>
          <div>
            <p>things things</p>
          </div>
          <div class="img-parent">

          </div>
        </TinySplit>
      </section> -->
    </Split>
    <div hHr></div>
    <!-- <Split>
      <section>
        <h1>Project Title</h1>
        <TinySplit>
          <div>
            <p>things things</p>
          </div>
          <div class="img-parent">

          </div>
        </TinySplit>
      </section>
      <span class="vHr"></span>
      <section>
        <h1>Project Title</h1>
        <TinySplit>
          <div>
            <p>things things</p>
          </div>
          <div class="img-parent">

          </div>
        </TinySplit>
      </section>
    </Split> -->
  </main>
  <script is:inline src="/modal.js"></script>
</Layout>