---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/hero.astro'
import Carousel from '../components/carousel.astro'

import '../styles/pages/index.scss'
import '../styles/photos.scss'
---
<Layout title="Projects">
  <main id="content" class="split">
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
    <span class="vHr"></span>
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
  </main>
  <div hHr></div>
  <main class="split">
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
    <span class="vHr"></span>
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
  </main>
  <div hHr></div>
  <main class="split">
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
    <span class="vHr"></span>
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
  </main>
  <div hHr></div>
  <main class="split">
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
    <span class="vHr"></span>
    <section>
      <h1>Project Title</h1>
      <div>
        things things
      </div>
    </section>
  </main>
  <script is:inline src="contact.js"></script>
  <script is:inline src="modal.js"></script>
  <script is:inline src="photos.js"></script>
</Layout>