---
import '../styles/carousel.scss'

export interface Props {
	carouselIndex: string;
}

var { carouselIndex } = Astro.props as Props;

carouselIndex = parseInt(carouselIndex)

var forwFunction = `javascript:goBack(${carouselIndex});`
var backFunction = `javascript:goForw(${carouselIndex});`

---
<div class="carousel" data-index={carouselIndex}>
  <slot />
</div>