---
import '../styles/components/contactForm.scss'
---
<div class="contact-form">
    <input type="checkbox" class="submitted" id="contact-submitted" />
    <div class="form-submitted" id="form-submitted">
        <h3 align="center" style="font-size: 25px; display: none; margin: 0;">Thank You For Submitting!</h2>
    </div>
    <form class="contact contact-form" action="https://docs.google.com/forms/d/e/1FAIpQLSc4qjrt9QFOiGU4DHHjagYlVsYdS77KiXqwo967oeGySAVMnQ/formResponse" method="POST">
        <input type="text" name="entry.264713401" placeholder="Full Name" top required>
        <input type="email" name="entry.2027702877" placeholder="Email Address" required>
        <textarea type="text" name="entry.656122872" placeholder="Message" required></textarea>
        <input type="hidden" name="entry.1445095683" value="true" />
        <!-- add hidden Honeypot input to prevent spams -->
        <input type="hidden" name="_gotcha" style="display:none!important">
        <label for="contact-submitted" class="submit-label">
            <input type="submit" class="primary" value="Send">
        </label>
    </form>
</div>