---
import '../styles/components/header.scss'

var links = [
  {
    name: 'Home', 
  }, 
  {
    name: 'Mission', 
  }, 
  {
    name: 'Projects', 
  }, 
  {
    name: 'Members', 
  }, 
  {
    name: 'Member Work', 
    path: '/work', 
  }, 
  {
    name: 'Sign Up', 
    path: 'https://go.graphics-for-good.com/Sign'
  }
]


var path = Astro.url.pathname
var domain = Astro.url.origin
if (path.startsWith('/') && path !== '/') path = path.slice(1)
if (path.endsWith('/') && path !== '/') path = path.slice(0, path.length-1)
---
<a id="go2content" href="javascript:scrollToNum()">Skip to Content</a>
<header class="header">
  <a href="/" class="logo-parent">
    <img class="logo" src="/assets/Logo-Blank.svg" alt="Graphics for Good Logo" title="Our Logo">
  </a >
  <nav class="nav">
    <input type="checkbox" id="closeNav" style="--display: none;" />
    <label for="closeNav" class="nav-hbg">
      <span class="material-symbols-outlined icon">menu</span>
    </label>
    <div class="nav-btns">
      <div class="nav-btns__inner">
        <div class="nav-info">
          <h3>Navigation</h3>
          <label for="closeNav" class="mob-nav-clse">
            <span class="material-symbols-outlined icon">close</span>
          </label>
        </div>
        {
          links.map(link => {
            var lPath = link.path
            if (!path) {
              lPath = link.name.toLowerCase()
              if (lPath.includes(' ')) lPath = lPath.split(' ').join('')
            }

          if (lPath === path) a.classList.add('primary')
          path = `/${path}`

          return <a href={lPath} class={`btn`}>{link.name}</a>
          })
        }
      </div>
    </div>
  </nav>
  <div class="social">
    <a href="https://instagram.com/4goodgraphics" title="Our Instagram" id="instagram"></a>
    <a href="mailto:hello@graphics-for-good.com" title="Email Us" id="email" target="_blank"></a>
  </div>
</header>