---
import '../styles/header.scss'
---
<a id="go2content" href="javascript:scrollToNum()">Skip to Content</a>
<header class="header">
  <div class="logo-parent">
    <img class="logo" src="/assets/Logo-Blank.svg" alt="Graphics for Good Logo" title="Our Logo">
  </div>
  <nav class="nav">
    <input type="checkbox" id="closeNav" style="--display: none;" />
    <label for="closeNav" class="nav-hbg">
      <span class="material-symbols-outlined icon">
        menu
      </span>
    </label>
    <div class="nav-btns">
      <div class="nav-btns__inner">
        <div class="nav-info">
          <h3>Navigation</h3>
          <label for="closeNav" class="mob-nav-clse">
            <span class="material-symbols-outlined icon">
              close
            </span>
          </label>
        </div>
        <a href="/" class="btn">Home</a>
        <a href="/mission" class="btn">Mission</a>
        <a href="/projects" class="btn">Projects</a>
        <a href="/members" class="btn">Members</a>
        <a href="/work" class="btn">Member Work</a>
        <a href="https://go.graphics-for-good.com/Sign-Up" class="btn">Sign Up</a>
  <!--  <a href="/portal" class="btn">Portal</a>-->
      </div>
    </div>
  </nav>
  <div class="social">
    <a href="https://instagram.com/4goodgraphics" id="instagram"></a>
    <a href="mailto:hello@graphics-for-good.com" id="email" target="_blank"></a>
  </div>
</header>
<script>
  var path = location.pathname
  document.querySelectorAll('header nav .nav-btns a:not(.nav-info a)').forEach(function(a, i) {
    var link = a.href
    if (link.includes('://')) link = link.split('://')[1]
    alert(link)
  })
</script>