---
import '../styles/header.scss'
---
<a id="go2content" href="javascript:scrollToNum()">Skip to Content</a>
<header class="header">
  <div class="logo-parent">
    <img class="logo" src="/assets/Logo-Blank.svg" alt="Graphics for Good Logo" title="Our Logo">
  </div>
  <nav class="nav">
    <input type="checkbox" id="closeNav" style="--display: auto;" />
    <label for="closeNav" class="nav-hbg">
      <img class="icon" alt="Open Sidebar Navigation" src="/assets/icons/hamburger-large.svg" />
    </label>
    <div>
      <div class="nav-info">
        <h3>Navigation</h3>
        <label for="closeNav" class="mob-nav-clse">
          <img class="icon" alt="Close Sidebar Navigation" src="/assets/icons/X.svg" />
        </label>
      </div>
      <a href="/" class="btn">Home</a>
      <a href="/mission" class="btn">Mission</a>
      <a href="/projects" class="btn">Projects</a>
      <a href="/members" class="btn">Members</a>
      <a href="/work" class="btn">Member Work</a>
      <a href="https://go.graphics-for-good.com/Sign-Up" class="btn primary">Sign Up</a>
<!--  <a href="/portal" class="btn">Portal</a>-->
    </div>
  </nav>
  <div class="social">
    <a href="https://instagram.com/4goodgraphics" id="instagram"></a>
    <a href="mailto:hello@graphics-for-good.com" id="email" target="_blank"></a>
  </div>
</header>