---
export interface Props {
	idName: string;
}

const { idName } = Astro.props as Props;

---
<header id={idName}>
    <section>
      <div>
        <h1>Graphics for Good</h1>
        <h2>Empowering Non-Profits Through the Power of Design!</h1>
      </div>
    </section>
</header>