    <dialog id="infobox">
      <div class="infobox-inner">
        <a href="javascript:infoBox.close()" draggable="false">
          <img src="/assets/icons/X.svg" id="cSpan" draggable="false">
        </a>
      </div>
    </dialog>