---
import '../styles/infobox.scss'
---
<dialog id="infobox" class="infobox">
  <a href="javascript:infobox.close()" draggable="false">
    <img src="/assets/icons/X.svg" class="cSpan" draggable="false">
  </a>
  <div class="infobox-inner">
  </div>
</dialog>