---
var infoboxTransitionTime = '500ms'
var msg = 'Hello, do you copy?'
var infoboxEnabled = false

import '../styles/components/infobox.scss'
---
{
  !!infoboxEnabled ? (
    <dialog id="infobox" class="infobox">
      <a href="javascript:closeInfobox()" draggable="false">
        <img src="/assets/icons/x.svg" class="cSpan" draggable="false" />
      </a>
      <div class="infobox-inner"></div>
    </dialog>
    <script src="/infobox.js" is:inline infoboxTransitionTime={infoboxTransitionTime} msg={msg} infoboxEnabled={infoboxEnabled}></script>
  ) : ''
}