---
---
<dialog id="modal">
    <content>
        <a class="cSpan" href="javascript:hideModal()">
            <span class="material-symbols-outlined">
                close
            </span>
        </a>
        <div id="top">

        </div>
        <div class="imgParent">
            <img id="photo" draggable="false" style="display: none;" />
            <div id="photo" style="display: none;"></div>
            <iframe id="photo" style="display: none;"></iframe>
        </div>
        <div id="bot">

        </div>
    </content>
</dialog>
<script is:inline src="/modal.js"></script>