---
import MetaTags from '../components/metatags.astro'
import Header from '../components/header.astro'
import GlobalScripts from '../components/globalscripts.astro'
import InfoBox from '../components/infobox.astro'

import '../styles/globals.scss'
import '../styles/footer.scss'

var bBorderPages = [
  '/work'
]

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;

let dTitle = `${title} | Graphics for Good`
if (dTitle.startsWith(' | ')) dTitle = dTitle.replace(' | ', '')

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <MetaTags />
    <title>{dTitle}</title>
  </head>
  <body>
    <Header />
    <slot />
    <span style="display: none;" class="hidden" hidden tElement></span>
    <script>
      {bBorderPages}.forEach(p => {
        if (location.pathname === p) {
          document.querySelector('.header').setAttribute('bBorder', '')
        }
      });
    </script>
    <GlobalScripts />
    <InfoBox />
  </body>
</html>